/* ==========================================================================
   Buttons
   ========================================================================== */

input[name="ctl00$ctl00$cphContent$cphPgContent$QuoteControl1$btnBookAppt"],
input[name="ctl00$ctl00$cphContent$cphPgContent$QuoteControl1$btnGetMoreDates"] {
    background-color: $highlight;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 20px 25px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none !important;
    border-radius: 3px;
    transition: .5s all;
    color: white;
    border: none;
    cursor: pointer;
    line-height: 1em;
    height: auto;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($highlight, 10%);
        color: white;
    }
}

body input[name="ctl00$ctl00$cphContent$cphPgContent$QuoteControl1$btnGetMoreDates"] {
    letter-spacing: 0;
    font-size: 11px;
    padding: 10px 5px;
    line-height: 1em;
    height: auto;
}