/* ==========================================================================
   Calendar styles
   ========================================================================== */

/* Defaults
   ========================================================================== */

table.RadCalendar_Default {
    margin: 0;
    padding: 0;

    table {
        margin: 0;
        padding: 0;
    }
}

body {
    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rcCalendar {
        .rcMain {
            border: 1px solid $dark1;
            border-top: none;
        }
    }
}

.landing_left {
    float: left;
    width: 63%;

    @include mobile {
        width: 100%;
    }
}

.landing_right {
    float: right;
    width: 37%;

    br {
        display: none !important;
    }

    @include mobile {
        width: 100%;
    }


    hr {
        display: none !important;
    }

    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rgSlots_GridData {
        height: auto !important;
    }

    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rgSlots {
        border: none;
        outline: none !important;
    }
}

/* The selection
   ========================================================================== */

.rgMasterTable {
    .rgRow,
    .rgAltRow {
        padding: 0;
        background: transparent;
        border: none;

        td {
            padding: 0;
            background: transparent;
            border: none;
        }

        span {
            border: 1px solid $dark1;
            padding: 7px 15px;
            border-radius: 3px;
            margin-bottom: 5px;
            display: block;
            color: $black;
            transition: .5s all ease;
            cursor: pointer;
        }

        &.rgSelectedRow span,
        span:hover {
            background: $blue4;
            color: white;
            border-color: $blue4;
        }
    }
}

// body .RadGrid_Default .rgAltRow {
//     background: $blue2;
//     color: $blue4;
//     transition: .3s all ease;
// }

// body .RadGrid_Default .rgSelectedRow span,
// body .RadGrid_Default .rgAltRow:hover span {
//     background: $blue4;
//     color: white;
// }

// body .RadGrid_Default .rgSelectedRow td,
// body .RadGrid_Default .rgSelectedRow td.rgSorted {
//     border: none !important;
// }

body .rgMasterTable {
    width: 100% !important;
    margin-bottom: 10px;
}

/* Header
   ========================================================================== */

body {
    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rcCalendar {
        .rcTitlebar {
            background: $black !important;
            color: white !important;
            border: none;
            padding: 8px 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            > table > tbody > tr {
                > td:nth-of-type(1),
                > td:nth-of-type(5) {
                    display: none;
                }
            }

            .rcTitle {
                color: white;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

//* Prev button
body a.rcPrev,
body a.rcNext {
    background-image: none !important;
    display: block !important;
    color: rgba(white, 0.3) !important;
    text-indent: 0 !important;
    font-weight: bold !important;
    font-size: 20px !important;
    position: relative !important;
    height: 20px !important;
    transition: .5s all !important;
    padding: 0 10px !important;

    &:hover {
        color: white !important;
    }
}

/* Weeks
   ========================================================================== */

body {
    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rcCalendar {
        .rcWeek {
            background: #eeeeee;
            color: $black;
            font-weight: bold !important;

            th {
                border: none;
                text-align: center;
                padding: 8px 0;
                color: $black;
            }
        }
    }
}

/* Days
   ========================================================================== */

body {
    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rcCalendar {
        .rcRow {
            &:first-of-type {
                td {
                    padding-top: 10px !important;
                }
            }

            &:last-of-type {
                td {
                    padding-bottom: 10px !important;
                }
            }

            td {
                text-align: center !important;
                padding: 5px !important;
                border: none !important;
                transition: .5s all;
                height: 30px;
                background: white !important;

                @include mobile {
                    padding: 1px !important;
                }


                &:first-of-type {
                    padding-left: 10px !important;
                }

                &:last-of-type {
                    padding-right: 10px !important;
                }

                a {
                    padding: 6px 8px;
                    margin: 0;
                    transition: .5s all;
                    color: $black;
                    font-weight: bold;
                    font-size: 14px;
                    border: 1px solid $dark1;

                    @include mobile {
                        font-size: 13px;
                        padding: 4px 6px;
                    }
                }

                // &.rcOtherMonth,
                // &.rcOtherMonth .rcHover {
                //     background: $blue1 !important;

                //     a {
                //         color: $blue3 !important;
                //     }
                // }

                &.Disabled {
                    a {
                        background: $dark1 !important;
                        color: $dark2 !important;
                    }
                }

                &.rcHover,
                &.rcSelected {
                    a {
                        border-color: $highlight;
                        background: $highlight !important;
                        color: white;
                    }
                }
            }

            td.rcOtherMonth {
                opacity: 0.4 !important;
                background: white !important;
                color: $black !important;

                a {
                    border-color: transparent !important;
                }
            }
        }
    }

    span.color-box-unavailable,
    span.color-box-available {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0;
        font-size: 14px;
        font-weight: bold;
        padding: 7px 10px;
        border: 1px solid $dark1;
    }

    span.color-box-unavailable {
        background: $dark1;
        color: $dark2;
        border-color: $dark1;
        margin-right: 5px;
    }

    span.color-box-available {
        background: white;
        color: $black;
        border-color: $dark1;
    }
}