/* ==========================================================================
   Calendar styles
   ========================================================================== */

/* Defaults
   ========================================================================== */

body {
    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rcCalendar {
        .rcMain {
            border: 1px solid $blue3;
        }
    }
}

.landing_left {
    float: left;
    width: 63%;

    @include mobile {
        width: 100%;
    }
}

.landing_right {
    float: right;
    width: 37%;

    br {
        display: none !important;
    }

    @include mobile {
        width: 100%;
    }


    hr {
        display: none !important;
    }

    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rgSlots_GridData {
        height: auto !important;
    }

    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rgSlots {
        border: none;
        outline: none !important;
    }
}

/* The selection
   ========================================================================== */

body .RadGrid_Default .rgAltRow {
    background: $blue2;
    color: $blue4;
    transition: .3s all ease;
}

body .RadGrid_Default .rgSelectedRow,
body .RadGrid_Default .rgAltRow:hover {
    background: $blue4;
    color: white;
}

body .RadGrid_Default .rgSelectedRow td,
body .RadGrid_Default .rgSelectedRow td.rgSorted {
    border: none !important;
}

body .rgMasterTable {
    width: 100% !important;
    margin-bottom: 10px;
}

/* Header
   ========================================================================== */

body {
    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rcCalendar {
        .rcTitlebar {
            background: $black !important;
            color: white !important;
            border: none;
            padding: 8px 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            > table > tbody > tr {
                > td:nth-of-type(1),
                > td:nth-of-type(5) {
                    display: none;
                }
            }

            .rcTitle {
                color: white;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

//* Prev button
body a.rcPrev,
body a.rcNext {
    background-image: none !important;
    display: block !important;
    color: rgba(white, 0.3) !important;
    text-indent: 0 !important;
    font-weight: bold !important;
    font-size: 20px !important;
    position: relative !important;
    height: 20px !important;
    transition: .5s all !important;
    padding: 0 10px !important;

    &:hover {
        color: white !important;
    }
}

/* Weeks
   ========================================================================== */

body {
    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rcCalendar {
        .rcWeek {
            background: white;
            color: $black;

            th {
                border: none;
                text-align: center;
                padding: 1px;
                color: white;
            }
        }
    }
}

/* Days
   ========================================================================== */

body {
    #ctl00_ctl00_cphContent_cphPgContent_QuoteControl1_rcCalendar {
        .rcRow td {
            text-align: center !important;
            padding: 15px !important;
            border: none !important;
            transition: .5s all;
            background: $blue3;
            height: 30px;

            a {
                padding: 0;
                margin: 0;
                transition: .5s all;
                color: white;
            }

            // &.rcOtherMonth,
            // &.rcOtherMonth .rcHover {
            //     background: $blue1 !important;

            //     a {
            //         color: $blue3 !important;
            //     }
            // }

            &[disabled="disabled"],
            &[disabled="disabled"]:hover,
            &[disabled="disabled"].rcHover,
            &[disabled="disabled"]:hover.rcHover {
                background: $blue2;

                a {
                    color: $blue3;
                }
            }

            &.rcHover,
            &.rcSelected {
                background: $blue4;
                border: none;

                a {
                    color: white;
                }
            }
        }
    }

    span.color-box-unavailable,
    span.color-box-available {
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        padding: 2px 5px;
    }

    span.color-box-unavailable {
        background: $blue2;
        color: $blue3;
    }

    span.color-box-available {
        background: $blue3;
        color: white;
    }
}