/* ==========================================================================
   Color selectino
   ========================================================================== */

$green1: #f0f7ed;
$green2: #d5ecd7;
$green3: #aed9b1;
$green4: #81c185;
$blue1: #edf7f4;
$blue2: #bee1de;
$blue3: #74c0b9;
$blue4: #398e93;
$dark1: #d2d6d6;
$dark2: #70767c;
$dark3: #555c63;
$dark4: #3c434a;
$highlight: #9add8a;

$light: $blue1;
$primary: $blue3;

/* ==========================================================================
   Responsive default mixins
   ========================================================================== */

$mobile-width-section: 767px;
$tablet-width-section: 768px;
$desktop-width-section: 1200px;

@mixin mobile {
    @media (max-width: #{$mobile-width-section}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width-section}) and (max-width: #{$desktop-width-section - 1px}) {
        @content;
    }
}

@mixin mobileandtablet {
    @media (max-width: #{$desktop-width-section - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width-section}) {
        @content;
    }
}

@mixin notmobile {
    @media (min-width: #{$tablet-width-section}) {
        @content;
    }
}

/* ==========================================================================
   Includes
   ========================================================================== */

@import "reset";
@import "header";
@import "general";
@import "calendar";
@import "sidebar";